#about_page {
  background-image: url(Desert1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  padding: 5em 15em;
  text-align: justify;
  color: white;
}

@media screen and (max-width: 600px) {
  #about_page {
    padding: 1em 3em;
  }
}

#story {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}


